<div class="navbar navbar-default navbar-fixed-side">
  <div class="container-fluid">
    <div>
      <ul class="nav nav-pills nav-justified">
        <li><a href="#home" class="navButtons btn btn-danger navbar-btn">Add Game</a></li>
        <li><a href="#library" class="navButtons btn btn-danger navbar-btn">Library</a></li>
        <li><a href="#random" class="navButtons btn btn-danger navbar-btn">Random</a></li>
        <li><a href="#user" class="navButtons btn btn-danger navbar-btn">User</a></li>
      </ul>
    </div>
  </div>
</div>
