<div class="navbar navbar-default navbar-fixed-side">
  <div class="container-fluid">
    <div>
      <ul class="nav nav-pills nav-justified">
        <li class="navButtons btn btn-default navbar-btn"><a href="#home">Home</a></li>
        <li class="navButtons btn btn-default navbar-btn"><a href="#library">Game Library</a></li>
        <li class="navButtons btn btn-default navbar-btn"><a href="#random">Random Game</a></li>
        <li class="navButtons btn btn-default navbar-btn"><a href="#user">User</a></li>
      </ul>
    </div>
  </div>
</div>
