<div class="jumbotron">
    <h1 class="homeTitle">GameSphere</h1>
  </div>

<ol class="breadcrumb">
<li><a href="#home">Home</a></li>
<li class="active">Game Library</li>
</ol>

<h1 class="gameLibraryHeader">Game Library</h1>
<div class="container libraryContainer" ng-controller="LibraryController">
  <div class="row">

  <button class="btn btn-primary btn-sm editGame" ng-click="editGame()">Edit Games</button>
  <input ng-model="searchText" class="form-control librarySearch" placeholder="Search by Title, Genre, or System" />

  <div class="row rowGames" ng-repeat="games in games | filter : searchText">
    <div class="libraryGames">
      <h3>{{games.title}}</h3>
      <p>Genre: <span style="font-weight: bold">{{games.genre}}</span></p>
      <p>System: <span style="font-weight: bold">{{games.system}}</span></p>
      <p>Release Date: <span style="font-weight: bold">{{games.date | date : format : longDate}}</span></p>
      <button id="deleteGame" class="btn btn-danger btn-sm" ng-click="deleteConfirm(); deleteGame(games._id)">Remove Game</button>
    </div>
  </div>
  </div>
</div>
<!-- <div class="api" ng-controller="APIController">
  <button ng-click="getApiGame()">Show</button>
    <h2>{{genres}}</h2>
    <p>{{animal.description.$t}}</p>
</div> -->
