<ol class="breadcrumb">
<li><a href="#home">Home</a></li>
<li class="active">Game Library</li>
</ol>

<h1 class="col-md-6 col-md-offset-5"><u>Game Library</u></h1>
<div class="container" ng-controller="LibraryController">
  <div class="row">
  <label>Search: <input ng-model="searchText" class="form-control" placeholder="Title, Genre, or System" /></label>
  <button id="editGame" class="btn btn-info btn-sm" ng-click="editGame()">Edit Games</button>
  <div class="row " ng-repeat="games in games | filter : searchText">
    <div class="games col-md-6 col-md-offset-3">
      <h3>{{games.title}}</h3>
      <p>Genre: <span style="font-weight: bold">{{games.genre}}</span></p>
      <p>System: <span style="font-weight: bold">{{games.system}}</span></p>
      <p>Release Date: <span style="font-weight: bold">{{games.date | date : format : longDate}}</span></p>
      <button id="deleteGame" class="btn btn-danger btn-sm" ng-click="deleteConfirm(); deleteGame(games._id)">Remove Game</button>
    </div>
  </div>
  </div>
</div>
<!-- <div class="api" ng-controller="APIController">
  <button ng-click="getApiGame()">Show</button>
    <h2>{{genres}}</h2>
    <p>{{animal.description.$t}}</p>
</div> -->
