<div class="jumbotron">
  <h1 class="homeTitle">GameSphere</h1>
  </div>
<ol class="breadcrumb">
  <li><a href="#home">Home</a></li>
  <li class="active">Random Game</li>
</ol>

<h1 class="randomHeader">Random Game</h1>
  <div class="container randomPage" ng-controller="RandomController">
    <button type="button" class="btn btn-danger randomGameButton" ng-click="getSingleGame()">Random Game</button>
    <div class="row">
        <div class="randomGame" ng-show="showRandom()">
          <h3>{{games.title}}</h3>
          <p>Genre: <span style="font-weight: bold">{{games.genre}}</span></p>
          <p>System: <span style="font-weight: bold">{{games.system}}</span></p>
          <p>Release Date: <span style="font-weight: bold">{{games.date | date : format : longDate}}</span></p>
        </div>
      </div>
    </div>
